# API Core Dependencies
fastapi>=0.110.0
uvicorn>=0.27.0
gunicorn>=21.2.0
python-dotenv
pydantic

# Langchain related for API functionality
langchain-core
langchain-community
langchain-openai 

# Memory component dependencies
chromadb
# The following packages may not be needed if using OpenAI embeddings
# sentence-transformers
# torch
tqdm
python-frontmatter
onnxruntime 

# Dolt memory system dependencies
doltpy
llama-index-core
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-embeddings-openai
llama-index-llms-openai 